<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TheTime.Properties.Settings.DataSetConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DataSet.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TheTime.Properties.Settings.DataSetConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DataSet.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TheTime.Properties.Settings.DataSetConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DataSet.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TheTime.Properties.Settings.WeatherBaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\WeatherBase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>